@import "variables";

// fonts

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

// body {
//   font-family: "Mulish", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

//  basse
html {
  scroll-behavior: smooth;
}

body {
  // font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  scroll-behavior: smooth;
}

.container {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

// header

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px 0;

  &__logo {
    padding-right: 566px;

    &:hover {
      cursor: pointer;
    }
  }

  &__top {
    background-image: url("../img/header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      margin: 23px 76px 5px 50px;
      padding: 140px 60px 3px;

      font-weight: 400;
      font-size: 100px;
      line-height: 130%;
      letter-spacing: 0em;
      text-align: center;
      color: #242f65;
    }

    &-scrolldown {
      margin-bottom: 129px;
    }

    &-text {
      font-weight: 400;
      font-size: 25px;
      line-height: 150%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #242f65;
      width: 500px;

      padding-bottom: 15px;
    }

    &-btns {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
      margin-bottom: 15px;
      margin-bottom: 60px;
    }

    &-btn {
      width: 266px;
      height: 69px;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;

      border: 1px solid #7390f9;
      border-radius: 10px;
      width: 259px;
      height: 69px;
      background: #7390f9;
      transition: all 0.1s linear;

      &:hover {
        background-color: #ff774c;
        border: 1px solid #ff774c;

        width: 266px;
        height: 69px;
      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  padding-left: 29.81px;

  &__item {
    font-family: $second-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #222;

    & > a {
      color: #222;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// main

.homepage {
  background: #fff;
}

.stunningCase {
  background-color: #edf0f9;
}

.utilityPages {
  background-color: #2a2c32;

  padding-top: 120px;
  display: flex;
  flex-flow: column;
  row-gap: 60px;
  align-items: center;

  &__top {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }

  &__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    width: 500px;
  }

  &__text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 803px;
  }

  &__box {
    padding-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;

    &-item {
      padding-bottom: 70px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;
      display: flex;
      flex-direction: column;
      row-gap: 39px;
      align-items: center;
      transition: box-shadow 0.3s;
      margin-bottom: 70px;
      border-radius: 20px;

      &:hover {
        cursor: pointer;
        box-shadow: 10px 35px 15px 5px rgba(36, 47, 101, 1);
      }

      & > a {
        font-family: $font-family;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
      }
    }
  }
}

.getStart {
  padding: 100px 60px;

  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 30px;
  justify-content: center;

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #242f65;
  }

  &__info {
    font-family: $second-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #525665;
    width: 513px;
  }

  &__btn {
    width: 274px;
    height: 69px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    border-radius: 10px;
    background-color: #ff774c;
    border: 1px solid #ff774c;
    transition: all 0.1s linear;
    margin-top: 5px;

    &:hover {
      background-color: #242f65;
      width: 280px;
      height: 75px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/footerBG.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__svg {
    padding-top: 86px;
  }

  &__runningline--wrapper {
    overflow: hidden; /* Скрывает выходящие за пределы элементы */
    width: 100vw; /* Ширина контейнера, в котором будет бегущая строка */
    white-space: nowrap; /* Предотвращает перенос элементов на новую строку */
  }

  &__runningline {
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    column-gap: 70px;

    // display: inline-block; /* Позволяет применять transform */
    animation: marquee 60s linear infinite; /* Название анимации, длительность, тип, повторение */

    &-item {
      font-family: $font-family;
      font-weight: 400;
      font-size: 30px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #242f65;

      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;

      margin-right: 70px; /* Отступ между элементами */
      // display: inline-block; /* Элементы отображаются в одну строку */
    }
  }

  &__links {
    width: 100vw;
    border: 1px solid #d092ba;
    margin-top: 90px;
    padding-bottom: 40px;
    padding-top: 122px;
    display: flex;
    flex-direction: row;
    // column-gap: 55px;
    justify-content: space-around;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;

    font-family: $second-family;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #242f65;

    & > li {
      padding-left: 70px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__feedback {
    border-radius: 20px;
    width: 819px;
    height: 116px;

    display: flex;
    flex-direction: row;

    padding: 40px 30px;
    background-color: #fff;
    column-gap: 8px;
    align-items: center;

    &-btn {
      border: 1px solid #242f65;
      border-radius: 10px;
      width: 187px;
      height: 52px;
      background: #242f65;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 10px;

      &--icon {
        fill: #ff774c;
      }

      &:hover {
        background-color: #ff774c;
        border: 1px solid #ff774c;
      }

      &:hover > &--icon {
        fill: #242f65;
      }

      // &:hover > &--icon {
      //   fill: #242f65;
      // }
    }
  }

  &__input {
    width: 554px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #242f65;

    padding-top: 9px;
    padding-bottom: 7px;
  }

  &__copyright {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    &-list {
      display: flex;
      flex-direction: row;
    }

    &-item {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.02em;
      text-align: center;
      color: #242f65;
    }
  }
}

@import "wrapper";

// running line css animation

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Начальное положение: справа за пределами */
  }

  50% {
    transform: translate(50%);
  }
  100% {
    transform: translateX(-100%); /* Конечное положение: слева за пределами */
  }
}
