@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.container {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px 0;
}
.header__logo {
  padding-right: 566px;
}
.header__logo:hover {
  cursor: pointer;
}
.header__top {
  background-image: url("../img/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__top-title {
  margin: 23px 76px 5px 50px;
  padding: 140px 60px 3px;
  font-weight: 400;
  font-size: 100px;
  line-height: 130%;
  letter-spacing: 0em;
  text-align: center;
  color: #242f65;
}
.header__top-scrolldown {
  margin-bottom: 129px;
}
.header__top-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242f65;
  width: 500px;
  padding-bottom: 15px;
}
.header__top-btns {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  margin-bottom: 60px;
}
.header__top-btn {
  width: 266px;
  height: 69px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  border: 1px solid #7390f9;
  border-radius: 10px;
  width: 259px;
  height: 69px;
  background: #7390f9;
  transition: all 0.1s linear;
}
.header__top-btn:hover {
  background-color: #ff774c;
  border: 1px solid #ff774c;
  width: 266px;
  height: 69px;
}

.nav {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding-left: 29.81px;
}
.nav__item {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #222;
}
.nav__item > a {
  color: #222;
  text-decoration: none;
}

.homepage {
  background: #fff;
}

.stunningCase {
  background-color: #edf0f9;
}

.utilityPages {
  background-color: #2a2c32;
  padding-top: 120px;
  display: flex;
  flex-flow: column;
  row-gap: 60px;
  align-items: center;
}
.utilityPages__top {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.utilityPages__title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  width: 500px;
}
.utilityPages__text {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 803px;
}
.utilityPages__box {
  padding-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.utilityPages__box-item {
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 70px;
       column-gap: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  align-items: center;
  transition: box-shadow 0.3s;
  margin-bottom: 70px;
  border-radius: 20px;
}
.utilityPages__box-item:hover {
  cursor: pointer;
  box-shadow: 10px 35px 15px 5px rgb(36, 47, 101);
}
.utilityPages__box-item > a {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.getStart {
  margin: 100px 60px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
}
.getStart__info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.getStart__title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #242f65;
}
.getStart__info {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #525665;
  width: 513px;
}
.getStart__btn {
  width: 274px;
  height: 69px;
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  border-radius: 10px;
  background-color: #ff774c;
  border: 1px solid #ff774c;
}

.wrapper {
  padding-top: 120px;
  display: flex;
  flex-flow: column;
  row-gap: 60px;
  align-items: center;
}
.wrapper__top {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.wrapper__title {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #242f65;
  width: 500px;
}
.wrapper__text {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #525665;
  width: 803px;
}
.wrapper__box {
  padding-bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.wrapper__box-item {
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 70px;
       column-gap: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  align-items: center;
  transition: box-shadow 0.3s;
  margin-bottom: 70px;
  border-radius: 20px;
}
.wrapper__box-item:hover {
  cursor: pointer;
  box-shadow: 10px 35px 15px 5px rgb(36, 47, 101);
}
.wrapper__box-item > a {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #242f65;
}/*# sourceMappingURL=style.css.map */